<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/nav') %>
    <h4>About us</h4>
    <h6>Get to know more about the team behind all this</h6>
    <%- include('./partials/footer')%>
</body>
</html>