<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/nav') %>
    <h4>New blog</h4>
    <form>
      <label for="title">Title</label>
      <input type="text" id="title" /><br />
      <label for="content">Content</label>
      <input type="text" id="content" /><br />
      <label for="b-img">Background image</label>
      <input type="text" id="b-img" /><br />
    </form>
    <%- include('./partials/footer')%>
  </body>
</html>
